<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cadastro de Cursos para Alunos</title>
</head>

<body>
	<main>
		<div class="row py-5">
			<div class="col-sm-12">
				<div class="card">
					<h1>Informações do Aluno do Curso 1</h1>
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome do Aluno</th>
								<th>Nome do Curso</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cursoAluno : ${cursoAlunos}">
								<td th:text="${cursoAluno.id}"></td>
								<td th:text="${cursoAluno.aluno.nome}"></td>
								<td th:text="${cursoAluno.curso.nomeCurso}">
									<p th:if="${cursoAluno.curso.id == 1}">
										(Aluno do Curso 1)
									</p>
								</td>
							</tr>
						</tbody>
					</table>

					<form method="POST" th:object="${cursos}" th:action="@{/cursoAndamento/cadastrar}">
						<div class="card-body">
							<fieldset>
								<legend>Dados</legend>

								<div class="row my-2">
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="aluno">Nome do Aluno</label>
											<select id="aluno" name="alunoId" class="form-select" style="width: 100%;">
												<option th:each="aluno : ${alunos}" th:text="${aluno.nome}"
													th:value="${aluno.id}">Aluno</option>
											</select>
										</div>
									</div>
									<div class="col-md-6 col-sm-12">
										<div class="form-group">
											<label for="curso">Nome do Curso</label>
											<select id="curso" name="cursoId" class="form-select" style="width: 100%;">
												<option th:each="curso : ${cursos}" th:text="${curso.nomeCurso}"
													th:value="${curso.id}">Curso</option>
											</select>
										</div>
									</div>
								</div>


							</fieldset>
						</div>

						<div class="mx-3 py-2">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

</body>

</html>