<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Cursos em andamento</title>
</head>

<body>
	<main>
		<div class="row">
			<div class="col-sm-12">
				<div class="card">

					<div class="card-body table-responsive p-0">
						<table class="table table-hover table-striped text-nowrap">
							<thead class="table-dark">
								<tr >
									<th class="text-center">Curso</th>
									<th>Alunos Inscritos</th>									
									<th colspan="2">Ações</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="aluno : ${alunos}" >
									<td th:text="${aluno.id}"></td>
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.estudantes[0].nomeCurso}"></td>

									<td>
										<div class="btn-group">
											<a type="button" class="btn btn-primary"
												th:href="@{/cursoAndamento/{id} (id=${curso.id})}">
												<i class="bi bi-eye"></i>
											</a>
											<a type="button" class="btn btn-warning"
												th:href="@{/cursoAndamento/{id}/editar (id=${curso.id})}">
												<i class="bi bi-pencil-square"></i>
											</a>
											<a type="button" class="btn btn-danger"
												th:href="@{/cursoAndamento/{id}/excluir (id=${curso.id})}"
												onclick="return confirm('Tem certeza que deseja excluir o professor?');">
												<i class="bi bi-trash"></i>
											</a>
										</div>
									<td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>


</body>

</html>