<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main}, _, ~{::scripts})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cursos em andamento</title>
</head>
<body>
  <main>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
       
          <div class="card-body table-responsive p-0">
            <table class="table table-hover table-striped text-nowrap">
              <thead class="table-dark">
                <tr class="text-center">
                  <th>ID</th>
                  <th>Nome do Aluno</th>
                  <th>Curso inscrito</th>
                  <th>Educador</th>                  
                  <th colspan="2">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="curso : ${estudantes}">
                  <td th:text="${curso.id}">1</td>
                  <td th:text="${curso.alunos.nome}">Nome estudante</td>
                  <td th:text="${curso.cursos.nomeCurso}">Nome Curso</td>
                  <td th:text="${curso.professores.nome}">Nome Professor</td>
                  
                  <td>
                    <div class="btn-group">
                      <a type="button" class="btn btn-primary" th:href="@{/cursoAndamento/{id} (id=${curso.id})}">
                        <i class="bi bi-eye"></i>
                      </a>
                      <a  type="button" class="btn btn-warning" th:href="@{/cursoAndamento/{id}/editar (id=${curso.id})}">
                        <i class="bi bi-pencil-square"></i>
                      </a>
                      <a 
                        type="button" class="btn btn-danger" 
                        th:href="@{/cursoAndamento/{id}/excluir (id=${curso.id})}" 
                        onclick="return confirm('Tem certeza que deseja excluir o professor?');"
                      >
                        <i class="bi bi-trash"></i>
                      </a>
                    </div>
                  <td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>

  
</body>
</html>